*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}


.head_container{
  background-image: url(/images/banner/banner1.png);
  background-size: cover;
  background-position: center;
  height: 669px;
  width: 1350px;
  min-height: auto;
  align-items: center;
  justify-content: center;

 
  
}

.header_main{
  
  text-align: right;
  padding-top: 180px;
  padding-right: 80px;
  
}


.header_title{

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right;
color: rgb(0, 0, 0);

.header_description{

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: right;
}
